{% extends 'base.html'%}

{% block title%}home
{% endblock title%}


{% block body%}


<div>
    <form method="POST" action="contactsubmit/">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input type="text" name = "name" class="form-control" id="exampleFormControlInput1" placeholder="name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">phone NUM</label>
            <input type="text" name ="phone" class="form-control" id="exampleFormControlInput1" placeholder="phone number">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="email">
          </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit">submit</button>
      </form>
      
    </div>
{% endblock body%}